global
  log stdout format raw local0
  # TODO REM remove these and haproxy from the vars if unused.
  # uid {{ haproxy_user.uid }}
  # gid {{ haproxy_user.gid }}
  nuster cache on dir /cache

defaults
  log global
  mode http
  option httplog
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend http_frontend
  # bind *:4433 ssl crt {{ container_cert_file }}
  bind *:8080
{% for repo in repos %}
  use_backend {{ repo.name }}_pkg_repo if { hdr_beg(host) -i {{ repo.name }} }
{% endfor %}

{% for repo in repos %}

backend {{ repo.name }}_pkg_repo
  nuster cache on
  nuster rule {{ repo.name }}_rule disk on memory off
  option forwardfor
  server {{ repo.name }} {{ repo.url }}:{{ repo.port }} ssl verify none
{% endfor %}
